/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

picture,
source,
img {
  display: block;
  max-width: 100%;
}

/* Fonts */
@font-face {
  font-family: "Playfair Display";
  src:
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.heading {
  font-family: "Playfair Display";
  font-weight: 400;
}

p {
  font-family: "Roboto";
  font-style: normal;
}

h2 {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.avatar__name {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 48px;
}

.about__toolbar {
  margin-top: 2em;
  gap: 2em;
}

p {
  font-family: "Roboto";
  color: #565656;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 1.1rem;
  display: grid;
  gap: 1em;
  grid-template-areas:
    "title links"
    "desc desc";
}

.card-content h3 {
  grid-area: title;
}

.card-content p {
  grid-area: desc;
  margin-bottom: 2em;
}

.project:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about {
  margin: 2em;
}

.about__text {
  font-size: 1.2rem;
  line-height: 2rem;
}

.card-toolbar {
  grid-area: links;
  justify-content: end;
  gap: 1em;
  margin-top: 0;
}

.image {
  object-fit: cover;
  background-color: #fa7ade;
  height: 150px;
}

.image1 {
  background-color: rgb(172, 172, 255);
}

.image2 {
  background-color: #ebac2f;
}

.image3 {
  background-color: #5c9450;
}

.image4 {
  background-color: #c67399;
}

.image5 {
  background-color: #4b94dc;
}

.image6 {
  background-color: #569450;
}

.project-list {
  display: grid;
  gap: 2em;
}

/** Footer **/
.footer * {
  color: #fff;
  text-decoration: none;
}

.footer {
  margin: 0;
  background-color: #10809f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__body {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.toolbar {
  display: flex;
}

.footer__phone,
.footer__mail {
  display: flex;
  gap: 0.5em;
}

.footer__toolbar {
  justify-content: center;
  gap: 2em;
}

/* Mobile layout */
@media (width < 500px) {
  .content {
    background-image: linear-gradient(
      150deg,
      #10809f 0%,
      #10809f 10%,
      #aeadad 10%,
      #ffffff 10.3%
    );
  }

  h2 {
    text-align: center;
  }

  .avatar {
    position: relative;
  }

  .avatar__name {
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  .avatar__image {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.462);
  }

  .avatar__name {
    font-size: 4rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .footer {
    flex-direction: column;
  }

  .footer__address-icon {
    display: none;
  }

  .about__toolbar {
    justify-content: center;
  }

  .about__icon {
    max-height: 32px;
  }

  .about__body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .footer {
    flex-direction: column;
  }

  .footer__toolbar {
    margin-top: 2em;
    margin-bottom: 12em;
    gap: 2em;
  }

  .footer__icons {
    max-height: 48px;
  }

  footer h2 {
    margin-top: 1em;
  }
}

/* Tablet Layout */
@media (width >= 500px) and (width < 1000px) {
  .content {
    background-image: linear-gradient(
      150deg,
      #10809f 0%,
      #10809f 20%,
      #aeadad 20%,
      #ffffff 20.5%
    );
  }

  .about {
    /* containing block of name will hit here */
    position: relative;
  }

  .avatar__image {
    position: relative;
    z-index: 2;
  }

  .avatar {
    /* Element is floated left to wrap text, stacking context as per html */
    float: left;
    box-shadow: 1px 1px 2px;
    margin-right: 2em;
    margin-bottom: 2em;
  }

  .avatar__name {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
  }

  .about__body {
    position: relative;
    background-color: white;
    z-index: 1;
    padding: 2em;
    margin-top: 6em;
    margin-left: 6em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.462);
  }

  .about__toolbar {
    justify-content: end;
  }

  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .footer {
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }

  .footer__body,
  .footer__image {
    margin: 2em;
  }

  .footer__body {
    min-width: 0;
  }
}

/* Desktop Layout */
@media (width >= 1000px) {
  .content {
    background-image: linear-gradient(
      170deg,
      #10809f 0%,
      #10809f 20%,
      #aeadad 20%,
      #ffffff 20.5%
    );
  }

  .about {
    display: flex;
    align-items: center;
  }

  .avatar__name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 6rem;
  }

  .avatar {
    position: relative;
    flex-shrink: 0;
  }

  .about__body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: 0;
    background-color: white;
    padding: 2em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.462);
  }

  .about__toolbar {
    justify-content: end;
  }

  .footer {
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }

  .footer__body,
  .footer__image {
    margin: 4em;
  }

  .footer__body {
    align-self: flex-start;
  }

  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
