/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

picture,
source,
img {
  display: block;
  max-width: 100%;
}

/* Fonts */
@font-face {
  font-family: "Playfair Display";
  src:
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.heading {
  font-family: "Playfair Display";
  font-weight: 400;
}

p {
  font-family: "Roboto";
  font-style: normal;
}

h2 {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.avatar {
  position: relative;
}

.avatar__name {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 2em;
  font-size: 48px;
}

.about__toolbar {
  margin-top: 1em;
  gap: 2em;
}

p {
  font-family: "Roboto";
  color: #565656;
}

.work {
  margin: 2em;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 1.1rem;
  display: grid;
  gap: 1em;
  grid-template-areas:
    "title links"
    "desc desc";
}

.card-content h3 {
  grid-area: title;
}

.card-content p {
  grid-area: desc;
  margin-bottom: 2em;
}

.project:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about {
  margin: 2em;
}

.about__text {
  font-size: 20px;
  line-height: 2rem;
}

.image {
  object-fit: cover;
  background-color: #fa7ade;
  height: 150px;
}

.image1 {
  background-color: rgb(172, 172, 255);
}

.image2 {
  background-color: #ebac2f;
}

.image3 {
  background-color: #5c9450;
}

.image4 {
  background-color: #c67399;
}

.image5 {
  background-color: #4b94dc;
}

.image6 {
  background-color: #569450;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
}

/** Footer **/
.footer * {
  color: #fff;
  text-decoration: none;
}

.footer {
  margin: 0;
  background-color: #128fb1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__body {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.toolbar {
  display: flex;
}

.footer__toolbar {
  justify-content: center;
  gap: 2em;
  margin-bottom: 6em;
}

/* mobile layout */

@media (width < 500px) {
  .content {
    background-image: linear-gradient(
      150deg,
      #128fb1 0%,
      #128fb1 10%,
      #ffffff 0%
    );
    filter: drop-shadow(30px 10px 4px #3a3a3a);
  }

  h2 {
    text-align: center;
  }

  .avatar__image {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.462);
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .work {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .footer {
    flex-direction: column;
  }

  .footer__address-icon {
    display: none;
  }

  .about__toolbar {
    justify-content: center;
  }

  .about__icon {
    max-height: 32px;
  }

  .about__body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .card-toolbar {
    grid-area: links;
    justify-content: end;
    gap: 0;
    margin-top: 0;
    max-height: 32px;
  }

  .footer {
    flex-direction: column;
  }

  .footer__iconbar {
    margin-top: 2em;
    margin-bottom: 6em;
    gap: 2em;
  }

  .footer__icons {
    max-height: 48px;
  }

  footer h2 {
    margin-top: 1em;
  }

  .footer__image {
    max-width: 100vw;
    object-fit: cover;
  }
}

/* Tablet Layout */
@media (width >= 500px) and (width < 1000px) {
  .about__name {
    top: 30px;
    left: 45%;
    font-size: 26px;
  }

  .about__image {
    float: left;
    padding: 2em;
  }

  .about__toolbar {
    justify-content: end;
  }

  .footer {
    flex-direction: row;
    align-items: center;
  }
}
